@media (max-width: 1200px) {
    .info-page {
        .small-buttons {
            display: flex !important;
        }
        .large-buttons {
            display: none !important;
        }
    }
}
@media (min-width: 1200px) {
    .info-page {
        .small-buttons {
            display: none !important;
        }
        .large-buttons {
            display: flex !important;
            flex-direction: column;
        }
    }
}


@media (min-width: 1700px) {
    .info-page {
        .buttons-responsivity {
            flex-direction: row !important;
            justify-content: space-around;
        }
    }
}
@media (max-width: 1300px) {
    .edit-page {
        .block-responsivity {
            flex-direction: column;

            .responsive-width {
                width: 100% !important
            }
        }
    }
    .create-page {
        .block-responsivity {
            flex-direction: column;
        }
    }
}
@media (max-width: 1200px) {
    .home-page {
        .search-bar {
            width: 50vw !important;
            height: 5vh !important;
        }
    }
}